
body{
  text-align: center;
  margin: auto;
  font-family: 'Avenir','Helvetica Neue';
}

.topNavContainer{
  width:100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display:inline-block;

}

.logo{
  text-align: left;
  margin-left: 10px;
  float:left;
}

.topNavMain{
  text-align: right;
  margin-top: 50px;

}

.topNavMain a{
  text-align: center;
  text-decoration: none;
  font-color: blue;
  padding:14px 16px;
  position-top: 10px;

}

.contentWrapper{
  width:90%;
  margin-left: 20px; 
  display:inline-block;
}

.sideNav{
    float:left;
    margin-top: 20px;
}

.sideNav a{
    text-align: center;
    text-decoration: none;
    display:block;
    padding-bottom: 10px;
}

.contentArea{
     width:40%;

}


h1 {
  font-family: 'Bad Script', cursive;
  color: blue;
}

h2 {
    font-size: 
}

p {
  text-align: left;
  font-family: 'Lato', sans-serif;
}

