
body{
  text-align: center;
  margin: auto;
  font-family: 'Avenir','Helvetica Neue';
}

.topNavContainer{
  width:100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display:inline-block;

}

.logo{
  text-align: left;
  margin-left: 30px;
  float:left;
}

.logo a{
  text-decoration: none;
  color: #4C76A8;
}

.topNavMain{
  text-align: right;
  margin-top: 50px;

}

.topNavMain a{
  text-align: center;
  text-decoration: none;
  font-color: blue;
  padding:14px 16px;
  position-top: 10px;
  color: #4C76A8;
}

.contentWrapper{
  width:90%;
  margin-left: 20px; 
  display:inline-block;
}

.sideNav{
    float:left;
    margin-top: 20px;
}

.sideNav a{
    text-align: center;
    text-decoration: none;
    display:block;
    padding-bottom: 10px;
    color:#4C76A8;
}

.contentArea{
     width:90%;
     display: inline-block;

}

.itemBlock{
  width: 30%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1em;
  margin-bottom: 1em;
/*  padding: 0.5em;
/*  padding-top: 1em;
*/  height: 200px;
  display: inline-block;
}


.pillowImg{
  width: calc(100% - 1em);
  height: calc(80% - 1em);
  background-size: cover;
  background-position: center;
  display: inline-block;
}






h1 {
  font-family: 'Avenir',Helvetica Neue,sans-serif;
  color: #4C76A8;
}

p {
  text-align: left;
  font-family: 'Lato', sans-serif;
}

